## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(['EIN','NAME'],axis=1)

In [3]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()
print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 10
top_application_types = application_type_counts[:cutoff_value].index.tolist()
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].apply(lambda x: x if x in top_application_types else 'Other')
application_types_to_replace = ['Other'] + top_application_types
print(application_types_to_replace)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

['Other', 'T3', 'T4', 'T6', 'T5', 'T19', 'T8', 'T7', 'T10', 'T9', 'T13']

Other    34299
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_1 = classification_counts[classification_counts > 1]
print(classification_counts_greater_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 10
top_classifications = classification_counts[:cutoff_value].index.tolist()
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].apply(lambda x: x if x in top_classifications else 'Other')
classifications_to_replace = ['Other'] + top_classifications

print(classifications_to_replace)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

['Other', 'C1000', 'C2000', 'C1200', 'C3000', 'C2100', 'C7000', 'C1700', 'C4000', 'C5000', 'C1270']

Other    34299
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values



# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
print("Training set (X_train):")
print(X_train)
print("\nTesting set (X_test):")
print(X_test)
print("\nTraining labels (y_train):")
print(y_train)
print("\nTesting labels (y_test):")
print(y_test)

Training set (X_train):
[[1.e+00 5.e+03 1.e+00 ... 0.e+00 1.e+00 0.e+00]
 [1.e+00 5.e+03 1.e+00 ... 0.e+00 1.e+00 0.e+00]
 [1.e+00 5.e+03 1.e+00 ... 0.e+00 1.e+00 0.e+00]
 ...
 [1.e+00 5.e+03 1.e+00 ... 0.e+00 1.e+00 0.e+00]
 [1.e+00 5.e+03 1.e+00 ... 0.e+00 1.e+00 0.e+00]
 [1.e+00 5.e+03 1.e+00 ... 0.e+00 1.e+00 0.e+00]]

Testing set (X_test):
[[1.0000e+00 5.0087e+04 1.0000e+00 ... 0.0000e+00 1.0000e+00 0.0000e+00]
 [1.0000e+00 5.0000e+03 1.0000e+00 ... 0.0000e+00 1.0000e+00 0.0000e+00]
 [1.0000e+00 5.0000e+03 1.0000e+00 ... 0.0000e+00 1.0000e+00 0.0000e+00]
 ...
 [1.0000e+00 5.0000e+03 1.0000e+00 ... 0.0000e+00 1.0000e+00 0.0000e+00]
 [1.0000e+00 5.7522e+04 1.0000e+00 ... 0.0000e+00 1.0000e+00 0.0000e+00]
 [1.0000e+00 5.0000e+03 1.0000e+00 ... 0.0000e+00 1.0000e+00 0.0000e+00]]

Training labels (y_train):
[0 1 1 ... 0 1 0]

Testing labels (y_test):
[1 1 0 ... 1 0 0]

In [12]:

Scaler = StandardScaler()


# Fit the StandardScaler

X_scaler= Scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train_scaled.shape[1]
hidden_nodes_layer1=7
hidden_nodes_layer2=14

nn = tf.keras.models.Sequential()



# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 217

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 344 (1.34 KB)
Trainable params: 344 (1.34 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [15]:
# Train the model

fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 583us/step - loss: 0.6560 - accuracy: 0.6420 - val_loss: 0.6015 - val_accuracy: 0.6893
Epoch 2/100
684/684 [==============================] - 0s 486us/step - loss: 0.6106 - accuracy: 0.6876 - val_loss: 0.5932 - val_accuracy: 0.7074
Epoch 3/100
684/684 [==============================] - 0s 518us/step - loss: 0.6065 - accuracy: 0.6956 - val_loss: 0.5906 - val_accuracy: 0.7061
Epoch 4/100
684/684 [==============================] - 0s 481us/step - loss: 0.6049 - accuracy: 0.6953 - val_loss: 0.5902 - val_accuracy: 0.7090
Epoch 5/100
684/684 [==============================] - 0s 483us/step - loss: 0.6042 - accuracy: 0.6953 - val_loss: 0.5896 - val_accuracy: 0.7116
Epoch 6/100
684/684 [==============================] - 0s 482us/step - loss: 0.6032 - accuracy: 0.6957 - val_loss: 0.5893 - val_accuracy: 0.7116
Epoch 7/100
684/684 [==============================] - 0s 501us/step - loss: 0.6026 - accuracy: 0.6952 - val_loss: 0.5883 - val_accuracy: 0.7113
Epoch 8/100
684/684 [==============================] - 0s 482us/step - loss: 0.6022 - accuracy: 0.6962 - val_loss: 0.5880 - val_accuracy: 0.7126
Epoch 9/100
684/684 [==============================] - 0s 480us/step - loss: 0.6020 - accuracy: 0.6965 - val_loss: 0.5888 - val_accuracy: 0.7111
Epoch 10/100
684/684 [==============================] - 0s 481us/step - loss: 0.6016 - accuracy: 0.6969 - val_loss: 0.5895 - val_accuracy: 0.7064
Epoch 11/100
684/684 [==============================] - 0s 483us/step - loss: 0.6014 - accuracy: 0.6953 - val_loss: 0.5890 - val_accuracy: 0.7116
Epoch 12/100
684/684 [==============================] - 0s 477us/step - loss: 0.6011 - accuracy: 0.6977 - val_loss: 0.5885 - val_accuracy: 0.7116
Epoch 13/100
684/684 [==============================] - 0s 498us/step - loss: 0.6007 - accuracy: 0.6973 - val_loss: 0.5887 - val_accuracy: 0.7080
Epoch 14/100
684/684 [==============================] - 0s 484us/step - loss: 0.6010 - accuracy: 0.6968 - val_loss: 0.5881 - val_accuracy: 0.7082
Epoch 15/100
684/684 [==============================] - 0s 479us/step - loss: 0.6006 - accuracy: 0.6984 - val_loss: 0.5884 - val_accuracy: 0.7108
Epoch 16/100
684/684 [==============================] - 0s 479us/step - loss: 0.6004 - accuracy: 0.6976 - val_loss: 0.5885 - val_accuracy: 0.7103
Epoch 17/100
684/684 [==============================] - 0s 484us/step - loss: 0.6007 - accuracy: 0.6969 - val_loss: 0.5884 - val_accuracy: 0.7100
Epoch 18/100
684/684 [==============================] - 0s 482us/step - loss: 0.6007 - accuracy: 0.6975 - val_loss: 0.5877 - val_accuracy: 0.7095
Epoch 19/100
684/684 [==============================] - 0s 490us/step - loss: 0.6003 - accuracy: 0.6984 - val_loss: 0.5886 - val_accuracy: 0.7100
Epoch 20/100
684/684 [==============================] - 0s 486us/step - loss: 0.6001 - accuracy: 0.6971 - val_loss: 0.5883 - val_accuracy: 0.7085
Epoch 21/100
684/684 [==============================] - 0s 479us/step - loss: 0.6003 - accuracy: 0.6980 - val_loss: 0.5893 - val_accuracy: 0.7077
Epoch 22/100
684/684 [==============================] - 0s 487us/step - loss: 0.6004 - accuracy: 0.6975 - val_loss: 0.5886 - val_accuracy: 0.7100
Epoch 23/100
684/684 [==============================] - 0s 480us/step - loss: 0.6002 - accuracy: 0.6978 - val_loss: 0.5880 - val_accuracy: 0.7131
Epoch 24/100
684/684 [==============================] - 0s 481us/step - loss: 0.6002 - accuracy: 0.6979 - val_loss: 0.5886 - val_accuracy: 0.7095
Epoch 25/100
684/684 [==============================] - 0s 484us/step - loss: 0.6003 - accuracy: 0.6973 - val_loss: 0.5882 - val_accuracy: 0.7108
Epoch 26/100
684/684 [==============================] - 0s 487us/step - loss: 0.5999 - accuracy: 0.6980 - val_loss: 0.5888 - val_accuracy: 0.7087
Epoch 27/100
684/684 [==============================] - 0s 492us/step - loss: 0.6003 - accuracy: 0.6987 - val_loss: 0.5875 - val_accuracy: 0.7103
Epoch 28/100
684/684 [==============================] - 0s 495us/step - loss: 0.5997 - accuracy: 0.6989 - val_loss: 0.5896 - val_accuracy: 0.7108
Epoch 29/100
684/684 [==============================] - 0s 482us/step - loss: 0.5999 - accuracy: 0.6991 - val_loss: 0.5886 - val_accuracy: 0.7061
Epoch 30/100
684/684 [==============================] - 0s 482us/step - loss: 0.6000 - accuracy: 0.6974 - val_loss: 0.5880 - val_accuracy: 0.7087
Epoch 31/100
684/684 [==============================] - 0s 488us/step - loss: 0.5998 - accuracy: 0.6987 - val_loss: 0.5880 - val_accuracy: 0.7108
Epoch 32/100
684/684 [==============================] - 0s 495us/step - loss: 0.5999 - accuracy: 0.6984 - val_loss: 0.5884 - val_accuracy: 0.7124
Epoch 33/100
684/684 [==============================] - 0s 491us/step - loss: 0.6000 - accuracy: 0.6981 - val_loss: 0.5887 - val_accuracy: 0.7105
Epoch 34/100
684/684 [==============================] - 0s 495us/step - loss: 0.5998 - accuracy: 0.6987 - val_loss: 0.5887 - val_accuracy: 0.7129
Epoch 35/100
684/684 [==============================] - 0s 496us/step - loss: 0.5996 - accuracy: 0.7001 - val_loss: 0.5887 - val_accuracy: 0.7080
Epoch 36/100
684/684 [==============================] - 0s 496us/step - loss: 0.5999 - accuracy: 0.6988 - val_loss: 0.5887 - val_accuracy: 0.7100
Epoch 37/100
684/684 [==============================] - 0s 486us/step - loss: 0.5997 - accuracy: 0.6985 - val_loss: 0.5884 - val_accuracy: 0.7113
Epoch 38/100
684/684 [==============================] - 0s 490us/step - loss: 0.5997 - accuracy: 0.6993 - val_loss: 0.5888 - val_accuracy: 0.7095
Epoch 39/100
684/684 [==============================] - 0s 485us/step - loss: 0.5998 - accuracy: 0.6987 - val_loss: 0.5883 - val_accuracy: 0.7111
Epoch 40/100
684/684 [==============================] - 0s 488us/step - loss: 0.5998 - accuracy: 0.6992 - val_loss: 0.5891 - val_accuracy: 0.7100
Epoch 41/100
684/684 [==============================] - 0s 492us/step - loss: 0.5997 - accuracy: 0.6989 - val_loss: 0.5882 - val_accuracy: 0.7100
Epoch 42/100
684/684 [==============================] - 0s 489us/step - loss: 0.5997 - accuracy: 0.6986 - val_loss: 0.5883 - val_accuracy: 0.7074
Epoch 43/100
684/684 [==============================] - 0s 486us/step - loss: 0.5997 - accuracy: 0.6986 - val_loss: 0.5886 - val_accuracy: 0.7124
Epoch 44/100
684/684 [==============================] - 0s 491us/step - loss: 0.5996 - accuracy: 0.6986 - val_loss: 0.5887 - val_accuracy: 0.7105
Epoch 45/100
684/684 [==============================] - 0s 485us/step - loss: 0.5996 - accuracy: 0.6993 - val_loss: 0.5891 - val_accuracy: 0.7118
Epoch 46/100
684/684 [==============================] - 0s 486us/step - loss: 0.5996 - accuracy: 0.6987 - val_loss: 0.5883 - val_accuracy: 0.7098
Epoch 47/100
684/684 [==============================] - 0s 485us/step - loss: 0.5997 - accuracy: 0.6987 - val_loss: 0.5884 - val_accuracy: 0.7129
Epoch 48/100
684/684 [==============================] - 0s 486us/step - loss: 0.5995 - accuracy: 0.6999 - val_loss: 0.5889 - val_accuracy: 0.7105
Epoch 49/100
684/684 [==============================] - 0s 488us/step - loss: 0.5996 - accuracy: 0.6983 - val_loss: 0.5895 - val_accuracy: 0.7121
Epoch 50/100
684/684 [==============================] - 0s 503us/step - loss: 0.5995 - accuracy: 0.6982 - val_loss: 0.5886 - val_accuracy: 0.7111
Epoch 51/100
684/684 [==============================] - 0s 522us/step - loss: 0.5996 - accuracy: 0.6979 - val_loss: 0.5895 - val_accuracy: 0.7095
Epoch 52/100
684/684 [==============================] - 0s 498us/step - loss: 0.5996 - accuracy: 0.7000 - val_loss: 0.5883 - val_accuracy: 0.7103
Epoch 53/100
684/684 [==============================] - 0s 493us/step - loss: 0.5992 - accuracy: 0.6992 - val_loss: 0.5891 - val_accuracy: 0.7093
Epoch 54/100
684/684 [==============================] - 0s 492us/step - loss: 0.5995 - accuracy: 0.6993 - val_loss: 0.5884 - val_accuracy: 0.7100
Epoch 55/100
684/684 [==============================] - 0s 493us/step - loss: 0.5992 - accuracy: 0.6997 - val_loss: 0.5896 - val_accuracy: 0.7056
Epoch 56/100
684/684 [==============================] - 0s 488us/step - loss: 0.5995 - accuracy: 0.6988 - val_loss: 0.5883 - val_accuracy: 0.7098
Epoch 57/100

684/684 [==============================] - 0s 479us/step - loss: 0.5995 - accuracy: 0.6985 - val_loss: 0.5878 - val_accuracy: 0.7116
Epoch 58/100
684/684 [==============================] - 0s 487us/step - loss: 0.5992 - accuracy: 0.6984 - val_loss: 0.5899 - val_accuracy: 0.7113
Epoch 59/100
684/684 [==============================] - 0s 477us/step - loss: 0.5992 - accuracy: 0.6989 - val_loss: 0.5882 - val_accuracy: 0.7124
Epoch 60/100
684/684 [==============================] - 0s 486us/step - loss: 0.5991 - accuracy: 0.6987 - val_loss: 0.5895 - val_accuracy: 0.7059
Epoch 61/100
684/684 [==============================] - 0s 486us/step - loss: 0.5993 - accuracy: 0.7001 - val_loss: 0.5879 - val_accuracy: 0.7100
Epoch 62/100
684/684 [==============================] - 0s 478us/step - loss: 0.5992 - accuracy: 0.6995 - val_loss: 0.5882 - val_accuracy: 0.7080
Epoch 63/100
684/684 [==============================] - 0s 475us/step - loss: 0.5993 - accuracy: 0.6990 - val_loss: 0.5894 - val_accuracy: 0.7067
Epoch 64/100
684/684 [==============================] - 0s 476us/step - loss: 0.5992 - accuracy: 0.6983 - val_loss: 0.5885 - val_accuracy: 0.7116
Epoch 65/100
684/684 [==============================] - 0s 477us/step - loss: 0.5987 - accuracy: 0.6997 - val_loss: 0.5881 - val_accuracy: 0.7105
Epoch 66/100
684/684 [==============================] - 0s 477us/step - loss: 0.5990 - accuracy: 0.7003 - val_loss: 0.5878 - val_accuracy: 0.7108
Epoch 67/100
684/684 [==============================] - 0s 488us/step - loss: 0.5989 - accuracy: 0.7001 - val_loss: 0.5882 - val_accuracy: 0.7069
Epoch 68/100
684/684 [==============================] - 0s 479us/step - loss: 0.5989 - accuracy: 0.7005 - val_loss: 0.5888 - val_accuracy: 0.7100
Epoch 69/100
684/684 [==============================] - 0s 480us/step - loss: 0.5987 - accuracy: 0.6998 - val_loss: 0.5888 - val_accuracy: 0.7080
Epoch 70/100
684/684 [==============================] - 0s 550us/step - loss: 0.5990 - accuracy: 0.6991 - val_loss: 0.5883 - val_accuracy: 0.7093
Epoch 71/100
684/684 [==============================] - 0s 480us/step - loss: 0.5988 - accuracy: 0.6999 - val_loss: 0.5893 - val_accuracy: 0.7116
Epoch 72/100
684/684 [==============================] - 0s 479us/step - loss: 0.5988 - accuracy: 0.6997 - val_loss: 0.5893 - val_accuracy: 0.7100
Epoch 73/100
684/684 [==============================] - 0s 478us/step - loss: 0.5985 - accuracy: 0.6992 - val_loss: 0.5885 - val_accuracy: 0.7113
Epoch 74/100
684/684 [==============================] - 0s 490us/step - loss: 0.5990 - accuracy: 0.7008 - val_loss: 0.5880 - val_accuracy: 0.7105
Epoch 75/100
684/684 [==============================] - 0s 480us/step - loss: 0.5985 - accuracy: 0.7003 - val_loss: 0.5893 - val_accuracy: 0.7080
Epoch 76/100
684/684 [==============================] - 0s 476us/step - loss: 0.5989 - accuracy: 0.6998 - val_loss: 0.5889 - val_accuracy: 0.7069
Epoch 77/100
684/684 [==============================] - 0s 478us/step - loss: 0.5985 - accuracy: 0.6994 - val_loss: 0.5900 - val_accuracy: 0.7100
Epoch 78/100
684/684 [==============================] - 0s 478us/step - loss: 0.5988 - accuracy: 0.7005 - val_loss: 0.5889 - val_accuracy: 0.7105
Epoch 79/100
684/684 [==============================] - 0s 478us/step - loss: 0.5987 - accuracy: 0.7007 - val_loss: 0.5890 - val_accuracy: 0.7100
Epoch 80/100
684/684 [==============================] - 0s 475us/step - loss: 0.5986 - accuracy: 0.7001 - val_loss: 0.5884 - val_accuracy: 0.7077
Epoch 81/100
684/684 [==============================] - 0s 478us/step - loss: 0.5984 - accuracy: 0.7001 - val_loss: 0.5901 - val_accuracy: 0.7116
Epoch 82/100
684/684 [==============================] - 0s 478us/step - loss: 0.5987 - accuracy: 0.7006 - val_loss: 0.5894 - val_accuracy: 0.7100
Epoch 83/100
684/684 [==============================] - 0s 476us/step - loss: 0.5987 - accuracy: 0.7002 - val_loss: 0.5891 - val_accuracy: 0.7098
Epoch 84/100
684/684 [==============================] - 0s 476us/step - loss: 0.5986 - accuracy: 0.7001 - val_loss: 0.5881 - val_accuracy: 0.7116
Epoch 85/100
684/684 [==============================] - 0s 487us/step - loss: 0.5984 - accuracy: 0.7001 - val_loss: 0.5893 - val_accuracy: 0.7090
Epoch 86/100
684/684 [==============================] - 0s 479us/step - loss: 0.5983 - accuracy: 0.7000 - val_loss: 0.5885 - val_accuracy: 0.7100
Epoch 87/100
684/684 [==============================] - 0s 507us/step - loss: 0.5986 - accuracy: 0.7000 - val_loss: 0.5877 - val_accuracy: 0.7111
Epoch 88/100
684/684 [==============================] - 0s 495us/step - loss: 0.5983 - accuracy: 0.7003 - val_loss: 0.5902 - val_accuracy: 0.7098
Epoch 89/100
684/684 [==============================] - 0s 494us/step - loss: 0.5984 - accuracy: 0.7002 - val_loss: 0.5886 - val_accuracy: 0.7100
Epoch 90/100
684/684 [==============================] - 0s 529us/step - loss: 0.5985 - accuracy: 0.6996 - val_loss: 0.5878 - val_accuracy: 0.7108
Epoch 91/100
684/684 [==============================] - 0s 522us/step - loss: 0.5985 - accuracy: 0.7000 - val_loss: 0.5886 - val_accuracy: 0.7105
Epoch 92/100
684/684 [==============================] - 0s 511us/step - loss: 0.5984 - accuracy: 0.7008 - val_loss: 0.5886 - val_accuracy: 0.7116
Epoch 93/100
684/684 [==============================] - 0s 499us/step - loss: 0.5983 - accuracy: 0.7003 - val_loss: 0.5879 - val_accuracy: 0.7082
Epoch 94/100
684/684 [==============================] - 0s 492us/step - loss: 0.5985 - accuracy: 0.6995 - val_loss: 0.5888 - val_accuracy: 0.7090
Epoch 95/100
684/684 [==============================] - 0s 523us/step - loss: 0.5985 - accuracy: 0.7001 - val_loss: 0.5880 - val_accuracy: 0.7111
Epoch 96/100
684/684 [==============================] - 0s 573us/step - loss: 0.5985 - accuracy: 0.7005 - val_loss: 0.5889 - val_accuracy: 0.7087
Epoch 97/100
684/684 [==============================] - 0s 557us/step - loss: 0.5983 - accuracy: 0.7003 - val_loss: 0.5879 - val_accuracy: 0.7100
Epoch 98/100
684/684 [==============================] - 0s 614us/step - loss: 0.5986 - accuracy: 0.6995 - val_loss: 0.5893 - val_accuracy: 0.7098
Epoch 99/100
684/684 [==============================] - 0s 517us/step - loss: 0.5982 - accuracy: 0.6997 - val_loss: 0.5887 - val_accuracy: 0.7067
Epoch 100/100
684/684 [==============================] - 0s 477us/step - loss: 0.5984 - accuracy: 0.6999 - val_loss: 0.5886 - val_accuracy: 0.7074

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6023 - accuracy: 0.6953 - 79ms/epoch - 295us/step
Loss: 0.602347731590271, Accuracy: 0.6952769756317139

In [17]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

/Users/sophieyoon/anaconda3/lib/python3.10/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(